body{
    background: rgb(175, 205, 223);
    text-align: center;
}
h1{
    text-align: center;
    color: red;
}
p{
    font-size: 1rem;
    color: rgb(136, 14, 20);
}
hr{
    color: rgb(8, 8, 73);
}
ol{
    border: 1px solid darkred;
    background: rgb(236, 148, 207);
    width: 9rem;
    margin: 0 auto;
    font-size: 1rem;
}
ul{
    border: 1px solid darkred;
    background: peru;
    width: 9rem;
    margin: 0 auto;
    font-size: 1rem;
}
a{
    color: red;
}